# tools
.idea/
.vscode/
.history/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# VSCode

# Log
*.log

# Environment
.env
.env.local
.env.*.local

# node
node_modules/

# build
/dist/
/build/
/out/
